parameters:
    level: max
    paths:
        - lib
        - public
    ignoreErrors:
        - identifier: missingType.iterableValue
    phpVersion:
        min: 80000 # PHP 8.0.0
        max: 80410 # PHP 8.4.10
    treatPhpDocTypesAsCertain: false
