parameters:
    level: max
    paths:
        - lib
    ignoreErrors:
        - identifier: missingType.iterableValue
    phpVersion:
        min: 80100 # PHP 8.1.0
        max: 80410 # PHP 8.4.10
    treatPhpDocTypesAsCertain: false
