parameters:
    level: max
    paths:
        - lib
    checkMissingIterableValueType: false
    ignoreErrors:
        - "#Cannot call method get(?:ReasonPhrase|StatusCode)#"
        - "#has no typehint specified#"
        - "#with no typehint specified#"
        - "#has no return typehint specified#"

