<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="true" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <coverage>
    <include>
      <directory suffix=".php">lib</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="GhibliQL">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
